:root{
    --main--color:#ff9800
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif; 
}
.container{
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/*Start settings Box*/
.settings-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
    width: 200px;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #eee;
}
.settings-box.open{
    left: 0;
}
.settings-box .toggle-settings{
    position: absolute;
    right: -40px;
    top: 100px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 28px;
    padding-top:1px ;
}

.settings-box  .option-box{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #eee;
}
.settings-box .option-box h4{
    margin: 0;
    color: #666;
    font-size: 14px;
}
.settings-box  .option-box .colors-list{
    list-style: none;
    padding: 0;
    text-align: center; 
    margin: 10px 0 0;
}
.settings-box  .option-box .colors-list li{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #eee;
}
.settings-box  .option-box .colors-list li.active{
    
    border: 3px solid #fff;
}
.settings-box  .option-box .colors-list li:first-child{
    background-color: #ff9800;
}
.settings-box  .option-box .colors-list li:nth-child(2){
    background-color: #e91e63;
}
.settings-box  .option-box .colors-list li:nth-child(3){
    background-color: #009688;
}
.settings-box  .option-box .colors-list li:nth-child(4){
    background-color: #03a9f4;
}
.settings-box  .option-box .colors-list li:nth-child(5){
    background-color: #4caf50;
}
.settings-box  .option-box .yes,
.settings-box  .option-box .no{
    width: 50px;
    background-color: var(--main--color);
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    opacity: .5;
    cursor: pointer;
}
.settings-box .option-box span.active{
    opacity: 1;
}
.settings-box .reset-options{
    background-color: #f44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
/*End Settings Box*/
/*Start Nav Bullets*/
.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main--color);
    border-radius: 50%;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
}

.nav-bullets .bullet .tooltip{
    background-color: var(--main--color);
    width: 120px;
    color: #fff;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    z-index: 100;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet .tooltip::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main--color);
    border-width: 10px;
    width: 0px;
    height: 0px; 
}
.nav-bullets .bullet:hover .tooltip{
    display: block;
}
/*End Nav Bullets*/
/*Start Landing Page*/
.landing-page{
    min-height: 100vh;
    background-image: url('../images/back-1.jpg');
    background-size: cover;
    position: relative;
}
.landing-page .container{
    position: relative;
    z-index: 1000;
}
.landing-page .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}
.header-area{
    position: relative;
    z-index: 2;
    display: flex;
    color: #fff;
    padding: 10px;
}
.header-area .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.header-area .links-container{
    width: 100%;
    text-align: right;
}
.header-area .links{
    list-style: none;
    padding: 0;
    width: 100%;
    padding-left: 0;
}
.header-area .links li{
    display: inline-block;
    margin-left: 10px;
}
.header-area li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: .3s ease;
}
/* .header-area li a::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 0px;
    text-align: center;
    background-color: var(--main--color);
    width: 50px;
    height: 2px;
    transform: scale(0);
    transition: .3s ease;
} */
/* .header-area li a:hover::before{
    transform: scale(1);    
} */
.header-area li a:hover,
.header-area li a.active{
    color: var(--main--color);
} 
.header-area .toggle-menu{
    background: none;
    border: none;
    width: 40px;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menu.menu-active::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color:   transparent transparent #fff transparent;
   
}
.header-area .toggle-menu:focus{
    outline: none;
}
.header-area .toggle-menu span{
    display: block;
    background-color: #fff;
    height: 3px;
    margin-bottom: 4px;   
} 

.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 95%;

}

.intro-text h1{
    font-size: 34px;
    margin: 0 0 12px;
}
@media (max-width:575px) {
    .intro-text h1{
        font-size: 26px;
    }   
}
.intro-text h1 span{
    color: var(--main--color);
}
.intro-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media (max-width:991px) {
    .header-area .links{
        display: none;
    }
    .header-area .links.open{
        background-color: #fff;
        padding: 10px;
        position:absolute;
        display: block;
        left: 0;
        top: 47px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
        
    }
    .header-area .links li{
        display: block;
        margin: 10px;
    }
    
    .header-area .links li a{
        color: var(--main--color);
        font-weight: bold;
    }
    .header-area .toggle-menu{
        display: inline-block;
    }
}
/*End landing page*/
/*Start About Us*/
.about-us{
    padding-top:50px ;
    padding-bottom: 50px;
    display: flex;
}
@media (max-width:767px) {
    .about-us{
        display: block;
        text-align: center;
    }   
}
.about-us .info-box{
    flex: 1;
    padding: 30px;
}
@media (max-width:767px) { 
    .about-us .info-box{
        padding: 0;
    }
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 10px;
}
.about-us .info-box p{
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
  width: 250px;
}
/*End About Us*/
/*Start Skills*/
.skills{
    padding-top:50px ;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 59px;
    text-align: center;
}
.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
@media (max-width:767px) {
    .skills .skill-box{
        display: block;
       
    }
}
.skills .skill-box .skill-name{
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
@media (max-width:767px) {
    .skills .skill-box .skill-name{
        width: 100%;
        margin-bottom: 15px;
    }
}
.skills .skill-box .skill-progress{
    background-color: #f6f6f6;
    height: 30px;
    width: 100%;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main--color);
    transition:all .5s ;
}
/*End Skills*/
/*Start Gallery*/
.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallery h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.gallery .images-box{
    text-align: center;
    
}
.gallery .images-box img{
    width: 200px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;

}
.popup-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}
.popup-box h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main--color);
}
.popup-box img{
    max-width: 100%;
}
.close-button{
    position: absolute;
    top:-15px;
    right: -15px;
    background-color: var(--main--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/*End Gallery*/
/*Start TimeLine*/
.timeline{
    padding-top:50px ;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    height: 100%;
    width: 3px;
    background-color: var(--main--color);
}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    text-align: center;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width:767px){
    .timeline .timeline-content .left,
    .timeline .timeline-content .right{
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before{
        display: none;
    }
    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before{
        display: none;
    }
}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .right{
    float: right;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--main--color);
    background-color: #fff;
    top: 20px;  
}

.timeline .timeline-content .left::before{
    right: -35px;
}
.timeline .timeline-content .right::before{
    left:-35px;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: #fff;
}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 10px;
}
.timeline .timeline-content .content p{
   color: #666;
   margin: 0;
   line-height: 1.6; 
}
.clearfix{
    clear: both;
}
.timeline .timeline-content .left .content::before{
    content: '';
    border-style:solid ;
    border-width: 10px;
    border-color: transparent transparent transparent #fff;
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 20px;
}
.timeline .timeline-content .right .content::before{
    content: '';
    border-style:solid ;
    border-width: 10px;
    border-color: transparent #fff  transparent  transparent ;
    height: 0;
    width: 0;
    position: absolute;
    left: -20px;
    top: 20px;
}
/*End TimeLine*/
/*Start Features*/
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width:992px){
    .features .feat-box{
        width: calc(100% / 2);
    }
}
@media (max-width:575px){
    .features .feat-box{
        width: 100%;
    }
}
.features .feat-box img{
    width: 96px;
}
.features .feat-box h4{
    font-size: 20px;
    margin: 15px 0 40px;
    position: relative;
}
/* .features .feat-box h4::before{
    content: '';
    position: absolute;
    left: 33.5%;
    top: 25px;
    width: 130px;
    height: 4px;
    text-align: center;
    background-color: var(--main--color);
    transition: all .3s;
    transform: scale(0);
}
.features .feat-box h4:hover::before{
    transform: scale(1);
} */
.features .feat-box h4::before{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    transition: all .3s;
    
}

.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/*End Features*/
/*Start Testimonials*/
.testimonials{
    min-height: 600px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}
.testimonials::before{
    content: '';
    position: absolute;
    width: 50%;
    background-color: var(--main--color);
    left: 0;
    top: 0;
    height: 100%;
}
.testimonials::after{
    content: '';
    position: absolute;
    width: 50%;
    background-color: #333;
    right: 0;
    top: 0;
    height: 100%;
}
.testimonials h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 60px;
    text-align: left;
    position: relative;
    z-index: 2;
}
@media (max-width:767px){
    .testimonials h2{
        text-align: center;
    }
}
.testimonials .ts-box{
    width: calc(98% / 3);
    float: left;
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 20px;
   transition: all .5s;
    
}
@media (max-width:767px){
    .testimonials .ts-box{
        width: 100%;
        margin-bottom: 15px;
        float: none;
    }
}
.testimonials .ts-box:hover{
    box-shadow:  -3px -3px 5px 0px rgb(255,255,255 ,.4), 3px 3px 5px 0px rgb(255,255,255 ,.4);
    transform: translateY(-10px);
}
.testimonials .ts-box:not(:last-of-type){
    margin-right: 1%;
}
.testimonials .ts-box > p{
    margin: 0 0 15px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}
.testimonials .ts-box .person-info{
    overflow: hidden;
}
@media (max-width:991px) {
    .testimonials .ts-box .person-info{
        text-align: center;
        overflow: visible;
    }
}
.testimonials .ts-box .person-info img{
    float: left;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
@media (max-width:991px) {
    .testimonials .ts-box .person-info img{
       float: none;
       margin-right: 0;
    }
}
.testimonials .ts-box .person-info h4{
    margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p{
    color: #707070;
    margin: 0;
}
/*End Testimonials*/
/*Start Contact Us*/
.contact{
    min-height: 600px;
    background-image: url('../images/contact.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255 ,.6); 
    /* background-color: rgb(255 255 255 / 60%); */
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}
@media (max-width:767px){
    .contact form .left,
    .contact form .right{
        width: 100%;
        float: none;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, .19);
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: #fff;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder{
    opacity: 0;
    transition: .3s;
}
/*End Contact Us*/
/*Start Footer*/
.footer{
    background-color: #333;
    color: #eee;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*End Footer*/
/*Start Grid System*/
@media (min-width:576px){ /* Small Devices => Landscape Phones*/
    .container{
        max-width: 540px;
    }
}
@media (min-width:768px){ /* Medium Devices => Tablets */
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){ /* Desktops */
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){ /*Large Screen */
    .container{
        max-width: 1140px;
    }
}
/*End Grid System*/